body {
    padding-left: 100px;
}

.empty {
    height: 500px;
    border: none;
}

.pic {
    width: 300px;
    height: auto;
}

.skew {
    height: 200px;
    width: 800px;
}

.img-container {
    width: 140px;
    height: 170px;
    border: solid 2px darkred;
}

.img-container > img {
    width: 100%;
}
.img-container-2 {
    
    border: solid 2px darkred;
}

.img-container-2 > img {
    width: 100%;
}

.fixed-size{
    width: 600px;
    height: 600px;
    border: 2px solid blue;
}

.object-fit-cover {
    object-fit: cover;
}

.object-fit-contain {
    object-fit: contain;
}

.object-fit-none {
    object-fit: none;
}

.profile {
    border-radius: 50%;
}

.huge{
    width: 1000px;
    height: 1000px;
}

video{
    object-fit: contain;
}